/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .list {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  .list li {
    margin-bottom: 10px; /* Adjust margin between list items */
  }

  .newMovieBtn {
    background-color: rgb(95, 173, 16);
    color: white;
    border-radius: 10px;
    border-color: rgb(8, 172, 8);
    float: right;
    margin-left: 5px;
  }

  .styledBtn {
    background-color: rgb(22, 78, 180);
    border: blue 1px solid;
    color: white;
    border-radius: 10px;
  }

  #filterBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    margin-bottom: 2%;
  }

  #movieRamaContainer {
    border: 1px solid black;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgb(248, 242, 242);
    overflow-y: auto;
    min-width: 850px;
    width: fit-content;
    margin-bottom: 5%;
  }